.container__offers{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media screen and (width >= 53rem){
    .container__offers{
        flex-direction: row;
        gap: 0;
    }
}
