@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    --background-linear: linear-gradient(hsl(237, 73%, 79%), hsl(238, 63%, 64%));
    --blue-50: hsl(240, 78%, 98%);
    --blue-200: hsl(238, 63%, 64%);
    --gray-650: hsl(233, 13%, 49%);
    --gray-700: hsl(232, 13%, 33%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--blue-50);
    padding: 3rem;
    color: var(--gray-700);
    font-weight: 700;
    min-height: 100vh;
    background-image: url("/bg-bottom.svg"), url("/bg-top.svg");
    background-size: 50vw 60vh;
    background-position: -100% -100%, 75vw 0;
    background-repeat: no-repeat, no-repeat;

    display: flex;
    justify-content: center;
    align-items:center;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1.5rem;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}

button{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}

.toggle-btn {
    background: var(--background-linear);
    border: 0;
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    position: relative;
}

.toggle-btn:hover {
    opacity: 0.7;
}

.toggle-btn .thumb {
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-btn.toggled .thumb{
    left: 1.2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}

@media screen and (width >= 53rem){
    body{
        background-size: auto, auto;
        background-position:left bottom, right top;
    }
}